<div class="page-wrapper" ng-controller="RushCtrl" ng-init="init()">
	<div class="parallax" id="parallax-one">
		<p class="rush-title image-gradient page-title"><span>RUSH</span></p>
	</div>

	<a id="down-link-1" class="down-arrow" href="#block1">
		<div id="down-1" class="center-con">
			<div class="round">
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
			</div>
		</div>
	</a>
	<div id="block1" class="parallax-block container">
		<div class="row">
			<div class="col">
				<div class="rush-title">Rush Fall 2017</div>
			</div>
		</div>
		<div id="rush-events" class="row">
			<div class="col-sm-12 col-md-6">
				<div class="rush-caption">Thu: Midnight BBQ</div>
				<div class="rush-caption">Fri: Steaks & Cigars</div>
				<div class="rush-caption">Sat: Mayweather vs. McGregor</div>
				<div class="rush-caption">Sun: Horse Races</div>
			</div>
			<div id="right-rush-sched" class="col-sm-12 col-md-6">
				<div class="rush-caption">Tue: Taco Tuesday</div>
				<div class="rush-caption">Wed: Alumni Dinner*</div>
				<div class="rush-caption">Thu: Bid Night*</div>
			</div>
		</div>
		<div class="row" style="margin-top:1.75rem;margin-bottom:0px !important">
			<h3>* Invite only</h3>
		</div>
	</div>
	<a id="down-link-2" class="down-arrow" href="#block2">
		<div id="down-2" class="center-con">
			<div class="round">
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
			</div>
		</div>
	</a>

	<div class="parallax" id="parallax-two"></div>
	<div id="block2" class="parallax-block container">
		<div class="row">
			<div class="col">
				<div class="rush-title">Our Chapter</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="rush-stat">42</div>
				<div class="rush-caption">Active Members</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div id="candidates-stat" class="rush-stat">20</div>
				<div class="rush-caption">Candidate Members</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div id="brotherhood-stat" class="rush-stat">1</div>
				<div class="rush-caption">Brotherhood</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="rush-caption"></div>
			</div>
		</div>
	</div>
	<a id="down-link-3" class="down-arrow" href="#block3">
		<div id="down-3" class="center-con">
			<div class="round">
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
			</div>
		</div>
	</a>

	<div class="parallax" id="parallax-three"></div>
	<div id="block3" class="parallax-block container">
		<div class="row">
			<div class="col">
				<div class="rush-title">Our Values</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="rush-stat">Manhood</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="rush-stat">Democracy</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="rush-stat">Humanity</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="rush-caption"></div>
			</div>
		</div>
	</div>
	<div class="parallax" id="parallax-four"></div>
</div>
