<div class="page-wrapper" ng-controller="RushCtrl" ng-init="init()">
	<div class="parallax" id="parallax-one"></div>
	<div style="height:1000px;background-color:white;font-size:36px">
		Scroll Up and Down this page to see the parallax scrolling effect.
		This div is just here to enable scrolling.
		Tip: Try to remove the background-attachment property to remove the scrolling effect.
	</div>
	<div class="parallax" id="parallax-two"></div>
	<div style="height:1000px;background-color:white;font-size:36px">
		Scroll Up and Down this page to see the parallax scrolling effect.
		This div is just here to enable scrolling.
		Tip: Try to remove the background-attachment property to remove the scrolling effect.
	</div>
	<div class="parallax" id="parallax-three"></div>
	<div style="height:1000px;background-color:white;font-size:36px">
		Scroll Up and Down this page to see the parallax scrolling effect.
		This div is just here to enable scrolling.
		Tip: Try to remove the background-attachment property to remove the scrolling effect.
	</div>
	<div class="parallax" id="parallax-four"></div>
</div>
