<div class="page-wrapper" ng-controller="RushCtrl" ng-init="init()">
	<div class="parallax" id="parallax-one">
		<p id="RUSH" class="rush-title">RUSH</p>
	</div>
	<a id="down-1" class="down-arrow" href="#fall17">
		<div class="center-con">
			<div class="round">
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
			</div>
		</div>
	</a>
	<div id="fall17" class="parallax-block container">
		<div class="row">
			<div class="col">
				<div class="rush-title">Rush Fall 2017</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="rush-caption align-left">Thu: Midnight BBQ</div>
				<div class="rush-caption align-left">Fri: Steaks & Cigars</div>
				<div class="rush-caption align-left">Sat: Mayweather vs. McGregor</div>
				<div class="rush-caption align-left">Sun: Horse Races</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="rush-caption align-left" style="margin-top:1.75rem">Tue: Taco Tuesday</div>
				<div class="rush-caption align-left">Wed: Alumni Dinner*</div>
				<div class="rush-caption align-left">Thu: Bid Night*</div>
			</div>
		</div>
		<div class="row" style="margin-top:1.75rem">
			<h3>* Invite only</h3>
		</div>
	</div>
	<a id="down-2" class="down-arrow" href="#numbers">
		<div class="center-con">
			<div class="round">
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
			</div>
		</div>
	</a>
	<div class="parallax" id="parallax-two"></div>
	<div id="numbers" class="parallax-block container">
		<div class="row">
			<div class="col">
				<div class="rush-title">Chapter Size</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="rush-stat">42</div>
				<div class="rush-caption">Active Members</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="rush-stat">20</div>
				<div class="rush-caption">Candidate Members</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div id="s-a-n" class="rush-caption" style="margin-top:1.75rem">Expansive</div>
				<div class="rush-caption">Alumni</div>
				<div class="rush-caption">Network</div>
			</div>
		</div>
	</div>
	<a id="down-3" class="down-arrow" href="#lastone">
		<div class="center-con">
			<div class="round">
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
			</div>
		</div>
	</a>
	<div class="parallax" id="parallax-three"></div>
	<div id="lastone" class="parallax-block container">
	</div>
	<div class="parallax" id="parallax-four"></div>
</div>
