<div class="page-wrapper" ng-init="init()">
	<p class="rush-title page-title"><span>Activities</span></p>	
	<div class="container" ng-repeat="activity in activities">
		<div class="row" style="width: 100%">
			<div class="col group">
				<!-- Activity Title -->
				<div class="group-title">{{activity.title}}</div>

				<div class="activity-wrapper">
					<!-- Activity Carousel -->
					<div id="activity-carousel-{{activity.index}}" class="carousel slide carousel-fade lazyload" data-ride="carousel" data-interval="false">
						<!-- Carousel items -->
						<div class="carousel-inner">
							<div class="item {{image.class}}" id="{{activity.key}}-item-{{image.index}}" ng-repeat="image in activity.images">
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" id="left-activity-control-{{activity.index}}" data-target="#activity-carousel-{{activity.index}}" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" id="right-activity-control-{{activity.index}}" data-target="#activity-carousel-{{activity.index}}" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<br><br>
	</div>
</div>
