<script src="scripts/controllers/creed.js"></script>
<div class="page-wrapper" ng-init="init()">
	<div class="container">
		<div id="crest-row" class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 xl-8">
				<div class="creed-title group-title">
					<h1>Our Creed,</h1>
				</div>
				<div class="creed-text">
					<h3>"...To foster and maintain among its sons a spirit of fraternity, a spirit of mutual moral aid and support; to instill and maintain in the hearts of its sons love for and loyalty to Alma Mater and its ideals; to inculcate among its sons such ideals as will result in actions worthy of the highest precepts of true manhood, democracy and humanity."</h3>
				</div>
				<hr>
				<div class="creed-text">
					<h3><i>Sigma Alpha Mu's mission is to foster the development of collegiate men and our alumni by instilling strong fraternal values, offering social and service opportunities, and teaching leadership skills.</i>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				<div class="group-title" ng-include="'/partials/crest.html'"></div>
			</div>
		</div>
	</div>
</div>
