<div class="page-wrapper" ng-init="init()">
	<div class="parallax" id="parallax0">
		<p class="rush-title image-gradient page-title"><span>RUSH</span></p>
	</div>

	<div id="down-link-1" class="down-arrow">
		<div id="down-1" class="center-con">
			<div class="round">
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
			</div>
		</div>
	</div>

	<div id="block0" class="parallax-block container"></div>

	<div id="down-link-2" class="down-arrow">
		<div id="down-2" class="center-con">
			<div class="round">
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
			</div>
		</div>
	</div>

	<div class="parallax" id="parallax1"></div>
	<div id="block1" class="parallax-block container"></div>

	<div id="down-link-3" class="down-arrow">
		<div id="down-3" class="center-con">
			<div class="round">
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
				<span class="arr"></span>
			</div>
		</div>
	</div>

	<div class="parallax" id="parallax2"></div>
	<div id="block2" class="parallax-block container"></div>
	<div class="parallax" id="parallax3"></div>
</div>
